<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>OneClick - @ViewBag.Title</title>

    <!-- Bootstrap -->

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/modern-business.css" rel="stylesheet" />
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="~/Scripts/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive img-thumbnail pull-left" src="~/img/icon.jpg" width="45" height="45" />
                <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
                @Html.ActionLink("OneClick", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    @if (HttpContext.Current.User.Identity.IsAuthenticated == false)
                    {
                        <li id="Login">
                            @Html.ActionLink("Login", "Login", "UserAccount")
                        </li>
                    }
                    @if (HttpContext.Current.User.Identity.IsAuthenticated)
                    {
                        <li id="Logout>">
                            @Html.ActionLink(HttpContext.Current.User.Identity.Name + " - Logout", "Logout", "UserAccount")
                        </li>
                    }

                    <li id="portfolio" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li id="OneClickNotes">
                                @Html.ActionLink("OneClickNotes", "List", "Notes")
                            </li>
                            <li id="2columnportfolio">
                                @Html.ActionLink("OneClickEvents", "List", "Event")
                            </li>
                            <li id="3columnportfolio">
                                @Html.ActionLink("OneClickStore", "List", "Product")
                            </li>


                        </ul>
                    </li>
                    <li id="contact">
                        @Html.ActionLink("Register", "Register", "UserRegistry")
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    @RenderBody();

    <div class="container">

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; OneClick 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="@Url.Content("/js/bootstrap.js")"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="@Url.Content("/js/modern-business.js")"></script>
</body>
</html>